{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Final Project</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="{% static 'admin/shelf.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <div class="banner">
                <h2>
                    <button class="logo">BLC</button>
                    <a href="/BLC/admin/"><button class="exit"><i id='exit' class="fa-solid fa-right-from-bracket"></i></button></a>
                </h2>
            </div>
        </div>
    </header>

    <main>
        <!-- url 수정, id 수정 -->
        <form id="shelfForm">
            <div class="drop-down">
                <label>Select shelf : </label>
                <select name="shelf_no" id="shelf_no_select">
                    <option value="">select</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
            </div>
        </form>
        <div class="container">
            <div class="screen">
                <img id="camera-stream" class="video" autoplay></img>
                
            </div>
        </div>
    </main>
    <script src="{% static 'admin/shelf.js' %}"></script>
</body>
</html>