{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Final Project_Adminpage</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static 'admin/stock.css' %}" />
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="banner">
          <h1>
            <a id="logo">BLC</a>
            <a href="/BLC/admin/"
              ><button class="exit">
                <i class="fa-solid fa-right-from-bracket"></i></button
            ></a>
          </h1>
        </div>
        <div class="page">
          <a href="/BLC/admin/stock"id="stock">STOCK</a>
          <a href="/BLC/admin/sales"id="sales">SALES</a>
        </div>
      </div>
    </header>
    <main>
      <div class="searchbox">
        <input
          type="text"
          id="searchInput"
          placeholder="Search"
          onkeyup="searchTable()"
        />
      </div>
      <table class="stock">
        <thead>
          <tr>
            <th style="width: 10%">상품 ID</th>
            <th style="width: 50%">상품명</th>
            <th style="width: 20%">상품 위치</th>
            <th style="width: 10%">
              <form method="get" id="searchForm">
                <div class="container my-3">
                  <select name="search_mode" id="search_mode">
                    <option value="" style="background-color: white">
                      수량(개)
                    </option>
                    <option value="A" style="background-color: white">
                      5개 이하
                    </option>
                    <option value="B" style="background-color: white">
                      6 ~ 10개
                    </option>
                    <option value="C" style="background-color: white">
                      11 ~ 20개
                    </option>
                    <option value="Z" style="background-color: white">
                      전체
                    </option>
                  </select>
                </div>
              </form>
            </th>
            <th style="width: 10%">가격(\)</th>
          </tr>
        </thead>
        <tbody>
          {% for stock in stocks %}
          <tr>
            <td style="text-align: center">{{ stock.item.item_id }}</td>
            <td style="text-align: left">{{ stock.item.item_name }}</td>
            <td style="text-align: center">
              {{ stock.shelf_no }}{{ stock.shelf_floor }}{{ stock.item_order }}
            </td>
            <td style="text-align: right">{{ stock.quantity }}</td>
            <td style="text-align: right">{{ stock.item.price }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
    <script src="{% static 'admin/stock.js' %}"></script>
  </body>
</html>
