<!DOCTYPE html>
<html>
<head>
    <title>웹캠 테스트</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        #video-container {
            position: relative;
            width: 640px;
            height: 480px;
        }
        #video {
            width: 100%;
            height: 100%;
        }
        #amount-container {
            margin-top: 20px;
            font-size: 18px;
        }
    </style>
    <script>
        $(document).ready(function() {
            var video = document.getElementById('video');
            var amountContainer = $('#amount-container');

            function playVideo() {
                video.src = "video_start/";
            }

            function updateAmount(totalAmount, eachAmount) {
                amountContainer.empty();
                amountContainer.append('<p>총 가격: ' + totalAmount + '원</p>');
                amountContainer.append('<p>개별 가격:</p>');
                var itemList = $('<ul></ul>');
                for (var key in eachAmount) {
                    var price = eachAmount[key][0];
                    var quantity = eachAmount[key][1];
                    itemList.append('<li>' + key + ': ' + price + '원 x ' + quantity + '개</li>');
                }
                amountContainer.append(itemList);
            }

            playVideo();

            setInterval(function() {
                $.ajax({
                    url: 'get_amount/',
                    type: 'GET',
                    dataType: 'json',
                    success: function(data) {
                        var totalAmount = data.total_amount;
                        var eachAmount = data.each_amount;
                        updateAmount(totalAmount, eachAmount);
                    }
                });
            }, 1000);
        });
    </script>
</head>
<body>
    <h1>웹캠 테스트</h1>
    <div id="video-container">
        <img id="video" autoplay></img>
    </div>
    <div id="amount-container"></div>
    <a href="{% url 'BLC:main' %}">start</a>
</body>
</html>
