{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <title>Final Project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="{% static 'BLC/start.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <div class="banner1">
                <h2>
                    <a><i class="fa-solid fa-bars"></i></a>
                    <a>BLC</a>
                    <button type="button" class="exit" id="mainButton"><i class="fa-solid fa-right-from-bracket"></i></button>
                </h2>

            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="left">
                <div class="banner2">
                    <div class="bar bar1">NO.</div>
                    <div class="bar bar2">상품명.</div>
                    <div class="bar bar3">수량</div>
                    <div class="bar bar4">가격(\)</div>
                </div>
                <div class="item">
                    <table>
                        <tbody>
                            <!-- 상품 출력 -->
                            <tr id="items_list"></tr>
                        </tbody>
                    </table>
                </div>
                <div class="warning">
                    <a id=warning><strong> * 빨간색 박스 아이템은 바코드 인식 부탁드립니다. * </strong></a>
                </div>
                <div class="total">
                    <div class="check">
                        <a id="quantity"><strong>총수량 : </strong><span id="total_quantity">0개</span></a><br>
                        <a id="price"><strong>총가격 : </strong><span id="total_amount">0원</span></a><br>
                        <button class="payment">결제하기</button>
                    </div>
                    <div class="modal hidden">
                        <div class="bg"></div>
                        <div class="modalBox">
                            <p>결제 하시겠습니까?</p>
                            <div class="bottom">
                                <button class="Yes">확인</button>
                                <button class="close">취소</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal2 hidden2">
                        <div class="bg2"></div>
                        <div class="modalBox2">
                            <p>결제 완료 되었습니다.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <!-- 웹캠 출력 -->
                <div class="video">
                    <img id="camera-stream" class="video" autoplay></img>
                </div>
            </div>
        </div>
    </main>
    <script src="{% static 'BLC/start.js' %}"></script>
    
</body>

</html>