<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for item in items %}
        <!-- items에 대한 정보를 여기에 표시 -->
        <p>Item Name: {{ item.item_name }}</p>
        <p>Price: {{ item.price }}</p>
    {% endfor %}

    {% for store in stores %}
    <!-- items에 대한 정보를 여기에 표시 -->
        <p>store Name: {{ store.store_id }}</p>
        <p>store_name: {{ store.store_name }}</p>
    {% endfor %}

    {% for stock in stocks %}
    <!-- items에 대한 정보를 여기에 표시 -->
        <p>stock item: {{ stock.store_id }}</p>
        <p>stock item: {{ stock.item_id }}</p>
        <p>stock quantity: {{ stock.quantity }}</p>
    {% endfor %}
</body>
</html>